

/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

@media (min-width: 768px) {
    .service {
        padding: 45px 60px 15px 60px;
    }
}

.service .service-item {
    position: relative;
    width: 100%;
    padding: 25px 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .03) 96%, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2));
    border-radius: 30px 30px 0 0;
    margin-bottom: 30px;
}

.service .service-item:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .03) 96%, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));
}

.service .service-item h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.service .service-item img {
    height: 80px;
}

.service .service-item p {
    position: relative;
    margin: 20px 0 0 0;
    font-size: 16px;
}

.service .video-player {
    position: relative;
    padding-bottom: 41.7%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #ffffff;
    margin: 30px 0 0 0;
    border-radius: 8px;
}

.service .video-player video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #000000;
    z-index: -1;
}

.service .video-player img {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    border: none;
    height: auto;
    border-radius: 8px;
    filter: opacity(75%);
    -webkit-filter: opacity(75%);
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
    z-index: 1;
}

.service .video-player:hover img {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
}

.service .video-player .play {
    height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    background: url("../img/play.png") no-repeat;
    cursor: pointer;
    z-index: 2;
}

.service .video-player .play:hover {
    background: url("../img/play-hover.png") no-repeat;
}

@media (max-width: 575.98px) {   
    .service .video-player .play {
        height: 60px;
        width: 60px;
        left: 50%;
        top: 50%;
        margin-left: -30px;
        margin-top: -30px;
        background: url("../img/play-60.png") no-repeat;
    }
    
    .service .video-player .play:hover {
        background: url("../img/play-hover-60.png") no-repeat;
    }
}

/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
}

@media (min-width: 768px) {
    .about .container-fluid {
        padding: 0;
    }
    
    .about .row {
        margin: 0;
    }
    
    .about .col-md-6:first-child {
        padding: 0;
    }
    
    ./*about .col-md-6:last-child {
        padding: 0 60px;
    }*/
}

.about h2.section-title {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #0082ce;
}

/*.about h2.section-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
    border-radius: 0 100% 100% 0;
}*/

.about p {
    color: #213546;
    font-size: 16px;
    margin-bottom: 30px;
}

.about a.btn {
    padding: 10px 35px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    background: linear-gradient(#4F84C4, #00539C);
    transition: .5s;
}

.about a.btn:hover {
    background: linear-gradient(#00539C, #4F84C4);
}

.about img {
    max-width: 100%;
    
}

@media(max-width: 767.98px) {
    .about img {
        margin-bottom: 30px;
        border-radius: 30px 30px 0 0;
    }
}

.about .youtube-player {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #ffffff;
    margin: 0;
    border-radius: 0 30px 30px 0;
}

@media (max-width: 991.98px) {
    .about .youtube-player {
        padding-bottom: 50%;
    }
}

@media (max-width: 767.98px) {
    .about .youtube-player {
        padding-bottom: 56.23%;
        margin-bottom: 30px;
        border-radius: 30px 30px 0 0;
    }
}

.about .youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.about .youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-filter: brightness(100%);
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.about .youtube-player img:hover {
    -webkit-filter: brightness(90%);
}

.about .youtube-player .play {
    height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    background: url("../img/play.png") no-repeat;
    cursor: pointer;
}

.about .youtube-player .play:hover {
    background: url("../img/play-hover.png") no-repeat;
}

@media (max-width: 575.98px) {   
    .about .youtube-player .play {
        height: 60px;
        width: 60px;
        left: 50%;
        top: 50%;
        margin-left: -30px;
        margin-top: -30px;
        background: url("../img/play-60.png") no-repeat;
    }
    
    .about .youtube-player .play:hover {
        background: url("../img/play-hover-60.png") no-repeat;
    }
}


/*******************************/
/*********** FAQs CSS **********/
/*******************************/
.faqs {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

@media (min-width: 768px) {
    .faqs .container-fluid {
        padding: 0;
    }
    
    .faqs .row {
        margin: 0;
    }
    
    .faqs .col-md-6:first-child {
        padding: 0 60px;
    }
    
    .faqs .col-md-6:last-child {
        padding: 0;
    }
}

.faqs h2.section-title {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.faqs h2.section-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
    border-radius: 0 100% 100% 0;
}

.faqs .card {
    margin-bottom: 15px;
    border: none;
    border-radius: 0;
}

.faqs .card:last-child {
    margin-bottom: 0;
}

.faqs .card-header {
    padding: 0;
    border: none;
    background: #ffffff;
}

.faqs .card-header a {
    display: block;
    width: 100%;
    padding: 15px 20px 12px 20px;
    color: #213546;
    font-size: 16px;
    font-weight: 400;
    background: #ffffff;
    border: 2px solid #4F84C4;
    border-radius: 0 30px 30px 0;
}

.faqs .card-header [data-toggle="collapse"]:after {
    font-family: 'font Awesome 5 Free';
    content: "\f067";
    float: right;
    color: #00539C;
    font-size: 12px;
    font-weight: 900;
    transition: .3s;
}

.faqs .card-header [data-toggle="collapse"][aria-expanded="true"]:after {
    font-family: 'font Awesome 5 Free';
    content: "\f068";
    float: right;
    color: #00539C;
    font-size: 12px;
    font-weight: 900;
    transition: .3s;
}

.faqs .card-body {
    padding: 15px 0;
    font-size: 16px;
    font-weight: 400;
    border: none;
    background: #ffffff;
}

.faqs a.btn {
    margin-top: 40px;
    padding: 10px 35px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    background: linear-gradient(#4F84C4, #00539C);
    transition: .5s;
}

.faqs a.btn:hover {
    background: linear-gradient(#00539C, #4F84C4);
}

.faqs img {
    max-width: 100%;
    border-radius: 30px 0 0 30px;
}

@media (max-width: 767.98px) {
    .faqs img {
        margin-top: 30px;
        border-radius: 0 0 30px 30px;
    }
}


/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    width: 100%;
    padding: 45px 0;
    text-align: center;
}

.testimonial .container {
    max-width: 960px;
}

.about-page .testimonial {
    padding-bottom: 90px;
}

.testimonial .testimonial-slider-nav {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.testimonial .testimonial-slider-nav .slick-slide {
    position: relative;
    opacity: 0;
    transition: .5s;
}

.testimonial .testimonial-slider-nav .slick-active {
    opacity: 1;
    transform: scale(1.3);
}

.testimonial .testimonial-slider-nav .slick-center {
    transform: scale(2);
    z-index: 1;
}

.testimonial .testimonial-slider-nav .slick-slide img {
    position: relative;
    display: block;
    margin-top: 37px;
    width: 100%;
    height: auto;
    border-radius: 100px;
}

.testimonial .testimonial-slider-nav .slick-center img {
    border: 5px solid #ffffff;
}

.testimonial .testimonial-slider {
    position: relative;
    margin-top: 15px;
    padding-top: 50px;
}

.testimonial .testimonial-slider::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 50px;
    top: 0;
    left: calc(50% - 30px);
    background: url(../img/quote.png) top center no-repeat;
}

.testimonial .testimonial-slider h3 {
    font-size: 20px;
    font-weight: 700;
}

.testimonial .testimonial-slider h4 {
    font-size: 14px;
}

.testimonial .testimonial-slider p {
    font-size: 18px;
    font-style: italic;
    margin: 0;
}


/*******************************/
/*********** News CSS **********/
/*******************************/
.news {
    position: relative;
    width: 100%;
    padding: 45px 0 60px 0;
}

@media (min-width: 768px) {
    .news .container-fluid {
        padding: 0;
    }
    
    .news .row {
        margin: 0;
    }
    
    .news .col-md-6:first-child {
        padding: 0;
    }
    
    .news .col-md-6:last-child {
        padding: 0 60px;
    }
}

.news h2.section-title {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.news h2.section-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
    border-radius: 0 100% 100% 0; 
}

.news p {
    font-size: 16px;
    margin-bottom: 30px;
}

.news a.btn {
    padding: 10px 35px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    background: linear-gradient(#4F84C4, #00539C);
    transition: .5s;
}

.news a.btn:hover {
    background: linear-gradient(#00539C, #4F84C4);
}

.news img {
    max-width: 100%;
    border-radius: 0 30px 30px 0;
}

@media (max-width: 767.98px) {
    .news img {
        margin-bottom: 30px;
        border-radius: 30px 30px 0 0;
    }
}
.text-centers{
    position: relative;
    top: 20%;
    text-align: center;
}
.mina{
    padding-right: 0;
    padding-left: 0;
}
.mina:nth-child(even) {
  background: #f1f1f1;
}
.main-text-pos{
    font-size: 20px;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    color: #0082ce;
}
.main-text-pos::after{
  background: none repeat scroll 0 0 #008FEC;
  bottom: 14px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #008FEC;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 10%; 
  left: 45%;
  top: 127%;
}
/*chuyentab*/
.tab-group{
  display: flex;
  justify-content: center;
}
.tab{
  padding: 8px;
  margin: 0 20px;
  list-style:none;
  text-align:center;
  cursor:pointer;
  font: bold 13px/1.2 'Open Sans', arial, sans-serif;
}
.panel-group{
  border-top:none;
  margin-top: 14px;
}
.panel{
  display:none;
}
.tab.is-active{
  color:#0082ce;
  transition: all 0.2s ease-out;
  position: relative;
}
.tab.is-active::after{
  background: none repeat scroll 0 0 #008FEC;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #008FEC;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%; 
  left: 0;
}
.panel.is-show{
  display:block;
}
.tab-navications{
    margin-top: 20px;
}

@media only screen and (max-width: 768px){
    .mina-navigation img{
        height: auto;
    }
}

@media only screen and (max-width: 991px){
    .mobile-ve-hosco{
        display: block !important;
        margin-top: 20px;
    }
    .tab-navications{
        display: none;
    }
    .custom-select{
        background: #26b3ef;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    }
    .panel-group{
        display: none;
    }
    .main-acitvity-mobile{
        margin-top: 15px;
    }
    h2.section-title {
    line-height: 30px;
    color: #064d92;
    font-size: 20px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500;
    }
    .text-centers p{
        font-size: 16px;
        line-height: 22px;
    }
    .text-centers{
        text-align: left;
        padding: 0px 15px
    }
    .white-fin{
        background: #fff;
        color: #333333;
    }
    .custom-select option{
        background: #fff;
        color: #0066b3;
    }

}
@media only screen and (max-width: 1024px){
    .mobile-ve-hosco{
        display:  none;
    }
}
@media only screen and (min-width: 1025px){
    .mobile-ve-hosco{
        display:  none;
    }
}